{% extends 'Sandbox/Layouts/layout2.html.twig' %}

{% block title %}{{ parent() }} : Doctrine{% endblock %}

{% block titre_principal%}Exercice Doctrine{% endblock %}

{% block vue %}
    <h2>Liste des flims</h2>
    <table>
        <tr><th>id</th><th>titre</th><th>Delete</th></tr>
        {% for film in films %}
            {% set view = path('sandbox_doctrine_view', { 'id' : film.id }) %}
            {% set delete = path('sandbox_doctrine_delete' , { 'id' : film.id }) %}
            <tr>
                <td>{{ film.id }}</td>
                <td><a href="{{ view }}">{{ film.titre }}</a></td>
                <td><a href="{{ delete }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Dump</h2>
    {{ dump(films) }}
{% endblock %}

